<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">

  <menu id="root-menu" label="Openbox 3">
	<item label="MRxvt">
	  <action name="Execute">
		<execute>mrxvt</execute>
	  </action>
	</item>
	<item label="Konsole">
	  <action name="Execute">
		<execute>konsole</execute>
	  </action>
	</item>
	<item label="Rox">
	  <action name="Execute">
		<execute>rox-filer</execute>
	  </action>
	</item>
	<item label="Dolphin">
	  <action name="Execute">
		<execute>dolphin</execute>
	  </action>
	</item>

	<separator/>

	<menu id="apps" label="Apps">

	  <menu id="net-menu" label="Net">

		<item label="Chromium">
		  <action name="Execute">
			<execute>chromium-browser</execute>
		  </action>
		</item>
		<item label="Firefox">
		  <action name="Execute">
			<execute>firefox</execute>
		  </action>
		</item>
		<item label="Thunderbird">
		  <action name="Execute">
			<execute>thunderbird</execute>
		  </action>
		</item>
		<item label="Nicotine">
		  <action name="Execute">
			<execute>/home/lene/scripts/nicotine-tor</execute>
		  </action>
		</item>
		<item label="Skype">
		  <action name="Execute">
			<execute>skype</execute>
		  </action>
		</item>
		<item label="Slack">
		  <action name="Execute">
			<execute>slack</execute>
		  </action>
		</item>
		<item label="Pidgin">
		  <action name="Execute">
			<execute>pidgin</execute>
		  </action>
		</item>
		<item label="Vuze">
		  <action name="Execute">
			<execute>vuze</execute>
		  </action>
		</item>
		<item label="VirtualBox">
		  <action name="Execute">
			<execute>virtualbox</execute>
		  </action>
		</item>
		<item label="KGpg">
		  <action name="Execute">
			<execute>kgpg</execute>
		  </action>
		</item>
		<item label="Multibit-HD">
		  <action name="Execute">
			<execute>/opt/multibit-hd/multibit-hd</execute>
		  </action>
		</item>

	  </menu>

	  <menu id="dev-menu" label="Dev">

		<item label="Emacs">
		  <action name="Execute">
			<execute>emacs</execute>
		  </action>
		</item>
		<item label="PyCharm">
		  <action name="Execute">
			<execute>pycharm.sh</execute>
		  </action>
		</item>
		<item label="IntelliJ IDEA">
		  <action name="Execute">
			<execute>/opt/idea/bin/idea.sh</execute>
		  </action>
		</item>
		<item label="WebStorm">
		  <action name="Execute">
			<execute>webstorm.sh</execute>
		  </action>
		</item>
		<item label="PhpStorm">
		  <action name="Execute">
			<execute>phpstorm.sh</execute>
		  </action>
		</item>
		<item label="CLion">
		  <action name="Execute">
			<execute>/opt/clion/bin/clion.sh</execute>
		  </action>
		</item>
		<item label="KDevelop">
		  <action name="Execute">
			<execute>kdevelop</execute>
		  </action>
		</item>
		<item label="NetBeans">
		  <action name="Execute">
			<execute>/opt/netbeans/bin/netbeans</execute>
		  </action>
		</item>
		<item label="pgAdmin III">
		  <action name="Execute">
			<execute>pgadmin3</execute>
		  </action>
		</item>
		<item label="MySQL Workbench">
		  <action name="Execute">
			<execute>mysql-workbench</execute>
		  </action>
		</item>
		
	  </menu>
	  
      <menu id="fun" label="Fun">

		<item label="Audacious">
		  <action name="Execute">
			<execute>audacious</execute>
		  </action>
		</item>
		<item label="Audacity">
		  <action name="Execute">
			<execute>audacity</execute>
		  </action>
		</item>
		<item label="FBReader">
		  <action name="Execute">
			<execute>fbreader</execute>
		  </action>
		</item>
		<item label="Kerbal Space Program">
		  <action name="Execute">
			<execute>/opt/KSP_linux/KSP.x86_64</execute>
		  </action>
		</item>
		<item label="Freeciv">
		  <action name="Execute">
			<execute>freeciv</execute>
		  </action>
		</item>

	  </menu>
	  
	  <menu id="/Debian"/>

	  <item label="KCalc">
		<action name="Execute">
		  <execute>kcalc</execute>
		</action>
	  </item>
	  <item label="Kate">
		<action name="Execute">
		  <execute>kate</execute>
		</action>
	  </item>
	  <item label="xv">
		<action name="Execute">
		  <execute>xv</execute>
		</action>
	  </item>
	  <menu id="dynamic" label="Dynamic"
			execute="~/workspace/configs/openbox/menu.py"
	  />

	</menu>
	
	<separator/>

    <menu id="config" label="Config">

	  <menu id="client-list-menu"/>

	  <item label="ObConf">
		<action name="Execute">
		  <execute>obconf</execute>
		</action>
	  </item>
	  <item label="Wallpaper">
		<action name="Execute">
		  <execute>nitrogen</execute>
		</action>
	  </item>
	  <item label="ARandR">
		<action name="Execute">
		  <execute>arandr</execute>
		</action>
	  </item>
	  <item label="Reconfig">
		<action name="Reconfigure"/>
	  </item>
	  <item label="Restart">
		<action name="Restart"/>
	  </item>
	  <item label="Unity Control Center">
		<action name="Execute">
		  <execute>unity-control-center</execute>
		</action>
	  </item>
	  <item label="System Settings">
		<action name="Execute">
		  <execute>systemsettings5</execute>
		</action>
	  </item>
	  <item label="Pulse Audio Volume Control">
		<action name="Execute">
		  <execute>pavucontrol</execute>
		</action>
	  </item>
	  <item label="XScreenSaver">
		<action name="Execute">
		  <execute>xscreensaver-demo</execute>
		</action>
	  </item>
	</menu>

	<item label="Lock">
	  <action name="Execute">
		<execute>xscreensaver-command -lock</execute>
	  </action>
	</item>
	<item label="Exit">
	  <action name="Exit"/>
	</item>

  </menu>
  
</openbox_menu>
