<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org file:///usr/share/openbox/menu.xsd">

  <menu id="root-menu" label="Openbox 3">
	<item label="MRxvt">
	  <action name="Execute">
		<execute>mrxvt</execute>
	  </action>
	</item>
	<item label="Konsole">
	  <action name="Execute">
		<execute>konsole</execute>
	  </action>
	</item>
	<item label="Rox">
	  <action name="Execute">
		<execute>rox-filer</execute>
	  </action>
	</item>
	<item label="Dolphin">
	  <action name="Execute">
		<execute>dolphin</execute>
	  </action>
	</item>

	<separator/>

	<menu id="dynamic-apps" label="Apps" execute="~/workspace/configs/openbox/menu.py" />

	<menu id="/Debian" />

	<separator/>

    <menu id="config" label="Config">

	  <menu id="client-list-menu"/>

	  <item label="ObConf">
		<action name="Execute">
		  <execute>obconf</execute>
		</action>
	  </item>
	  <item label="Wallpaper">
		<action name="Execute">
		  <execute>nitrogen</execute>
		</action>
	  </item>
	  <item label="Reconfig">
		<action name="Reconfigure"/>
	  </item>
	  <item label="Restart">
		<action name="Restart"/>
	  </item>
	  <menu id="show_keybindings" label="Key bindings"
			execute="~/workspace/configs/openbox/show_ob_keybindings.py"
	  />
	  <item label="ARandR">
		<action name="Execute">
		  <execute>arandr</execute>
		</action>
	  </item>
	  <item label="Unity Control Center">
		<action name="Execute">
		  <execute>unity-control-center</execute>
		</action>
	  </item>
	  <item label="System Settings">
		<action name="Execute">
		  <execute>systemsettings5</execute>
		</action>
	  </item>
	  <item label="Pulse Audio Volume Control">
		<action name="Execute">
		  <execute>pavucontrol</execute>
		</action>
	  </item>
	  <item label="Blueman Manager">
		<action name="Execute">
		  <execute>blueman-manager</execute>
		</action>
	  </item>
	  <item label="XScreenSaver">
		<action name="Execute">
		  <execute>xscreensaver-demo</execute>
		</action>
	  </item>
        <menu id="languages" label="Keyboard layout">
          <item label="US">
            <action name="Execute">
              <execute>setxkbmap -layout us</execute>
            </action>
          </item>
          <item label="Deutsch">
            <action name="Execute">
              <execute>setxkbmap -layout de</execute>
            </action>
          </item>
          <item label="Français">
            <action name="Execute">
              <execute>setxkbmap -layout fr</execute>
            </action>
          </item>
          <item label="Türkçe">
            <action name="Execute">
              <execute>setxkbmap -layout tr</execute>
            </action>
          </item>
          <item label="По-Русский">
            <action name="Execute">
              <execute>setxkbmap -layout ru</execute>
            </action>
          </item>
          <item label="Ελλενηκη">
            <action name="Execute">
              <execute>setxkbmap -layout gr</execute>
            </action>
          </item>
        </menu>
	</menu>

	<item label="Lock">
	  <action name="Execute">
		<execute>xscreensaver-command -lock</execute>
	  </action>
	</item>
	<item label="Exit">
	  <action name="Exit"/>
	</item>

  </menu>
  
</openbox_menu>
